<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>presentation</title>
    <script type="text/javascript" src="/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/libs/coffee-script.js"></script>
    <link rel="stylesheet" type="text/css" href="/libs/cssreset-min.css">
    <script type="text/coffeescript">
execAndSetInterval = (func, int) ->
  func()
  setInterval func, int

class Presentation
  constructor: (wrapper) ->
    @index = 0
    @wrapper = wrapper
    $.getJSON('/slides.json', (results) =>
      @slides = []
      results.forEach((result) =>
        @slides.push(result)
      )
      @render()
    )

  prev: ->
    @index = @index - 1
    if @index < 0
      @index = @slides.length - 1
    @render()

  next: ->
    @index = @index + 1
    if @index >= @slides.length
      @index = 0
    @render()

  render: ->
    slide = @slides[@index]
    @wrapper.css('background-image', "url(#{slide.path})")
    $('title').text(slide.text)

jQuery(($)->
  presentation = new Presentation($('body'))
  $(window).keydown((e) ->
    if e.keyCode == 13 || e.keyCode == 74
      presentation.next()
    else if e.keyCode == 75
      presentation.prev()
  )

  execAndSetInterval(->
    w = $(window).width()
    h = $(window).height()
    $('body').width("#{w}px")
    $('body').height("#{h}px")
  )
)

    </script>
    <style type="text/css" media="screen">
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
    </style>
  </head>
  <body>
  </body>
</html>
