- :url: http://31.media.tumblr.com/ab1284cd2ee8e52842a46f7caf7d813a/tumblr_nfdlzyYzli1qbnl0co1_400.gif
  :text: ねむいぜー
  :options:
    :b: :c
  :pointsize: :half
- :file_path: demo/files/nomad.gif
  :text: |-
    How to be a
    NOMAD
    in the office
  :color: black
