---
- :url: https://38.media.tumblr.com/ab18cc7176b51d913659db81ea71ef51/tumblr_nffqovDIu71qz4e26o1_500.gif
  :text: プレゼン
  :pointsize: :half
  :color: white
- :file_path: demo/files/nomad.gif
  :text: |-


    LIKE THIS
  :color: white
  :pointsize: 80
  :kerning: 6
